<section class="about-us" id="about-us">
  <div class="container about-us-container">
    <div class="about-us-info">
      <p class="about-us-p">ABOUT US</p>
      <h2 class="about-us-title">
        QUICKLY AND EASY TO CLEAN YOUR OFFICE AND HOUSE
      </h2>
      <p class="about-us-text">
        Amet minim mollit non deserunt ullamco sit aliqua dolor do consequat
        sunt nostrud amet. Amet minim mollit non deserunt ullamco aliqua dolo
        ame.
      </p>
      <p class="winning-text">
        AWARD WINNING COMPANY
        <svg class="winning-svg" width="20" height="21">
          <use href="../img/sprite.svg#con-winner"></use>
        </svg>
      </p>
      <p class="about-us-text">
        Amet minim mollit non sit aliqua dolor do consequat sunt nostrud amet.
        Amet mollit ullamco aliqua dolo ame.
      </p>
      <button type="button" class="about-us-btn">Our Services</button>
    </div>
    <div class="about-us-photo">
      <ul class="about-us-list">
        <li class="about-us-item">
          <img src="../img/about-us/1.jpg" alt="img" class="about-us-img" />
        </li>
        <li class="about-us-item">
          <img src="../img/about-us/2.jpg" alt="img" class="about-us-img" />
        </li>
        <li class="about-us-item">
          <img src="../img/about-us/3.jpg" alt="img" class="about-us-img" />
        </li>
        <li class="about-us-item">
          <img src="../img/about-us/4.jpg" alt="img" class="about-us-img" />
        </li>
      </ul>
    </div>
  </div>
</section>
