<header class="header">
  <div class="container header-container">
    <a href="#" class="logo">
        <svg class="logo" width="180" height="45">
            <use href="../img/sprite.svg#logo"></use>
        </svg>
    </a>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="#" class="nav-link">ABOUT US</a></li>
        <li class="nav-item"><a href="#" class="nav-link">SERVICES</a></li>
        <li class="nav-item"><a href="#" class="nav-link">BLOG</a></li>
        <li class="nav-item"><a href="#" class="nav-link">CONTACT</a></li>
        <li class="nav-item"><a href="#" class="nav-link">CONTACT</a></li>
      </ul>
    </nav>
    <button type="button" class="header-btn">
      <svg class="header-svg" width="21" height="23">
        <use href="../img/Vector.svg"></use>
      </svg>

      Book Schedule
    </button>
  </div>
</header>
