<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-text">
      <p class="small-title">HIGHLY PROFESSIONAL CLEANING</p>
      <h1 class="hero-title">
        <span class="title-span">EASY TO CLEAN</span> HOUSE AND OFFICE
      </h1>
      <p class="small-title-text">
        Amet minim mollit non deserunt ullamco sit aliqua dolor do amet sint.
        Velit officia enim velit mollit. Exercitation veniam consequat sunt
        nostrud amet.
      </p>
      <button type="button" class="hero-btn">Get a Quote</button>
      <p class="partners-text">TRUSTED PARTNERS</p>
      <h2 class="partners-title">BRANDS WHO TRUST US</h2>
    </div>
    <img src="../img/hero-img.png" alt="hero" class="hero-img" />
  </div>

</section>
<div class="partners-container">
    <div class="container">
        <ul class="partners-list">
            <li class="partners-item">
                <svg class="partners-svg" height="30">
                    <use href="../img/partners.svg#icon-Group-2"></use>
                </svg>
            </li>
            <li class="partners-item">
                <svg class="partners-svg" height="30">
                    <use href="../img/partners.svg#icon-Group-3"></use>
                </svg>
            </li>
            <li class="partners-item">
                <svg class="partners-svg" height="30">
                    <use href="../img/partners.svg#icon-Group-4"></use>
                </svg>
            </li>
            <li class="partners-item">
                <svg class="partners-svg" height="30">
                    <use href="../img/partners.svg#icon-LOGO-2"></use>
                </svg>
            </li>
            <li class="partners-item">
                <svg class="partners-svg" height="30" >
                    <use href="../img/partners.svg#icon-LOGO-3"></use>
                </svg>
            </li>
        </ul>
    </div>
</div>
