<section class="our-service" id="our-service">
  <div class="container">
    <p class="our-service-text">OUR SERVICES</p>
    <h2 class="our-service-title">WHAT WE ARE OFFERING</h2>
    <div class="cards">
      <div class="card">
        <div class="icon">
          <svg class="svg" width="45" height="45">
            <use href="../img/sprite.svg#icon-home"></use>
          </svg>
        </div>
        <h3>House Cleaning</h3>
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint.
        </p>
      </div>
      <div class="card active">
        <div class="icon">
          <svg class="svg" width="45" height="45">
            <use href="../img/sprite.svg#icon-office"></use>
          </svg>
        </div>
        <h3>Office Cleaning</h3>
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <svg class="svg" width="45" height="45">
            <use href="../img/sprite.svg#icon-floor"></use>
          </svg>
        </div>
        <h3>Floor Cleaning</h3>
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <svg class="svg" width="45" height="45">
            <use href="../img/sprite.svg#icon-window"></use>
          </svg>
        </div>
        <h3>Window Cleaning</h3>
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint.
        </p>
      </div>
    </div>
  </div>
</section>
