<section class="our-team-section" id="our-team">
  <div class="container">
    <p class="our-team-text">OUR TEAM</p>
    <h2 class="our-team-title">OUR EXPERT TEAM MEMBERS</h2>
    <ul class="out-team-list">
      <li class="our-team-item">
        <img
          src="../img/our-team/photo-1@2x.png"
          alt="photo"
          class="item-img"
          width="278"
        />
        <h3 class="img-title">Devon Lane</h3>
        <p class="img-text">Window Cleaner</p>
      </li>
      <li class="our-team-item">
        <img
          src="../img/our-team/photo-2@2x.png"
          alt="photo"
          class="item-img"
          width="278"
        />
        <h3 class="img-title">Cody Fisher</h3>
        <p class="img-text">House Cleaner</p>
      </li>
      <li class="our-team-item">
        <img
          src="../img/our-team/photo-3@2x.png"
          alt="photo"
          class="item-img"
          width="278"
        />
        <h3 class="img-title">Ralph Edwards</h3>
        <p class="img-text">Commercial Cleaner</p>
      </li>
      <li class="our-team-item">
        <img
          src="../img/our-team/photo-4@2x.png"
          alt="photo"
          class="item-img"
          width="278"
        />
        <h3 class="img-title">Bessie Cooper</h3>
        <p class="img-text">Floor Cleaner</p>
      </li>
    </ul>
  </div>
</section>
