.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 50px;
  font-size: 14px;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 50px;
  padding: 15px 35px;
  width: 216px;
  height: 51px;
  background: var(--primery-color-2);
  color: var(--pure-white);
}

.header-svg {
  stroke-width: 1.7px;
  stroke: var(--pure-white);
}

